elevation_data/
valhalla_tiles/
valhalla/data/
.ipynb_checkpoints/
transit-drivecycle-pgdata/
gtfs/gtfs*
*.tar
*.pbf

**/node_modules
**/npm-debug.log
build
frontend/
config.py
*.lock
package-lock.json
calgary/