body{
    outline: none;
    background-color: #f5fcff;

}

*:focus {outline:none !important}

.content {
    max-width: 900px;
    margin: auto;
    padding:10px;
  }

#map{ 
    width: 100%; 
    height: 400px; 
}

.title{
    font-family: 'Secular One', sans-serif;
    color: grey;
}

