
.sidebar-container {
  position: absolute;
  height: 45%;
  bottom: 0;
  padding: 10px;
  margin:8px;
  background-color: rgb(236, 236, 236);
  box-shadow: 2px 2px 5px grey;
  overflow: scroll
}

.sidebar-container-full {
  position: absolute;
  height: 95%;
  bottom: 0;
  padding: 10px;
  margin:8px;
  background-color: rgb(236, 236, 236);
  box-shadow: 2px 2px 5px grey;
  overflow: scroll
}

.show-button {
  display: block;
}

@media screen and (min-width: 475px) {

  .sidebar-container {
      position: absolute;
      width: 425px;
      top:0;
      height:95%;
      margin: 15px 15px 15px 15px;
      padding: 20px;
      box-shadow: 5px 5px 15px grey;
      background-color: rgb(236, 236, 236);
      opacity: .9;
      overflow-y: scroll;
      overflow-x: hidden;
      scrollbar-color: rgb(184, 184, 184) rgb(236, 236, 236);
      scrollbar-width: thin;
    }

  .sidebar-container-full {
    position: absolute;
    top:0;
    height: 95%;
    width: 425px;
    margin: 15px 15px 15px 15px;
    padding: 20px;
    box-shadow: 5px 5px 15px grey;
    background-color: rgb(236, 236, 236);
    opacity: .9;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: rgb(184, 184, 184) rgb(236, 236, 236);
    scrollbar-width: thin;
  }

  .show-button {
    display: none;
  }
}